* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex-box-1 {
  width: 400px;
  border: 2px solid lightgray;
  border-radius: 10px;
}
.flex-box-2 {
  display: flex;
  padding: 18px;
  justify-content: space-between;
  align-items: center;
}

header.flex-box-2 h2 {
  font-size: 25px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
header.flex-box-2 p {
  color: gray;
  font-size: 20px;
}
header.flex-box-2 img {
  width: 50px;
}

main .paragraph {
  font-size: 25px;
  font-weight: 400;
  padding: 0 18px 18px 18px;
}
footer.flex-box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.flex-box-3 .div-1 {
  border: 2px solid green;
  border-right: none;
  border-left: 1px solid green;
  font-weight: 600;
  width: 50%;
  padding: 10px 30px;
  text-align: center;
  margin: 10px 0px 10px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
footer.flex-box-3 .div-2 {
  border: 2px solid red;
  border-right: 1px solid red;
  font-weight: 600;
  width: 50%;
  padding: 10px 30px;
  text-align: center;
  margin: 10px 10px 10px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-box-main {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.flex-box-main .margin-right {
  margin-right: 10px;
}

.flex-box-main footer a {
  text-decoration: none;
}

.flex-box-main footer .green {
  color: green;
  font-size: 20px;
}

.flex-box-main footer .red {
  color: red;
  font-size: 20px;
}

@media (max-width: 768px) {
  .flex-box-main {
    flex-wrap: wrap;
  }
  .flex-box-main .flex-box-1 {
    margin-top: 15px;
  }
}
